.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.products-list>div {
  flex: 1 0 calc(33.33% - 20px);
  margin-bottom: 20px;
  box-sizing: border-box;
}

.product-item {
  width: 100%;
}