.footer {
  background-color: rgb(255, 29, 29);
  text-align: center;
  padding: 20px 0;
  position: fixed;
  /* Фіксація позиції футера*/
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-link {
  color: white;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
  /* Підкреслення при наведенні */
}

.active-link {
  font-weight: bold;
}